{% extends 'main.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'complete.css' %}">
{% endblock %}

{% block content %}
<center>
    <h1>complete page</h1>
    <br> <br>
    <div class="all">
        <a href="{% url 'complete_deleteAll' %}">DELETE_ALL</a>
        <a href="{% url 'crstoreall' %}">RESTORE_ALL</a>
    </div>
    <br> <br>   
    {% for i in data %}
        <h2>{{i.title}} // {{i.desc}}</h2>
        <br>
        <div class="op">
            <a href="{% url 'cdelete' i.id %}">DELETE</a>
            <a href="{% url 'crestore' i.id %}">RESTORE</a>
        </div>
    {% endfor %} 
</center>


{% endblock %}